alegreya-sc-font(n)
  font-family: 'Alegreya Sans SC', sans-serif !important
  letter-spacing: 4px
  font-weight: n

alegreya-font(n)
  font-family: 'Alegreya Sans', sans-serif !important
  letter-spacing: 4px
  font-weight: n

roboto-font(n)
  font-family 'Roboto', sans-serif !important
  letter-spacing 0px
  font-weight n
