@import "mixins/_font.styl"

.alegreya
  &-sc
    &--regular
      alegreya-sc-font(400)

    &--light
      alegreya-sc-font(300)

    &--thin
      alegreya-sc-font(100)

  &--bold
    alegreya-font(700)

  &--regular
    alegreya-font(400)

  &--light
    alegreya-font(300)

  &--thin
    alegreya-font(100)

.roboto
  &--regular
    roboto-font(400)

  &--light
    roboto-font(300)

  &--bold
    roboto-font(700)
